*{
    padding: 0px;
    margin: 0px;

}

#wrapper{
    width: 970px;
    background-color: #245076;
}

header{
    display:flex;
}

.nav-links{
    display: flex;
    list-style: none;
    font-size: 20px;
    justify-content: space-around;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #3f7bad;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(16, 42, 90);
}
.nav-links a{
    color: white;
    text-decoration-line: none;
}
#formulario-busqueda{
    margin-left: 30px;
    padding-top: 10px;
    justify-content:space-between;

}
#formulario-busqueda>p{
    text-align:right;
    color: #638fe0;
    margin-right: 40px;
}
#formulario-busqueda>p>a{
    color: rgb(255, 217, 0);
}
#search{
    width: 290px;
    height: 30px;
    background-color: #132b46;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 2px 1px 2px 1px #0e1b29;
}
#Go{
    background-color:#245076;
    border: 1px solid #638fe0;
    box-shadow: 2px 1px 2px 1px #0e1b29;
    color: #638fe0;
    padding: 0px 2px 0px 2px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
#search>input{
    width: 210px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    border: 3px solid #638fe0;
}


#sec-superior, #sec-superior, footer ul {
    display: flex;
    justify-content: center;
}

#side-nav{
    text-align: center;
    list-style: none;
    padding-inline: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#side-nav span{
    color: yellow;
    font-size: 8px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 5px;
}

#side-nav a{
    color: antiquewhite;
    text-decoration: none;
}

#Main-content{
    width: 550px;
    text-align: center;
    vertical-align: top;
    margin-left: 25px;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
#Main-content h3{
    color: rgb(255, 217, 0);
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: lighter;
}
#Main-content h4{
    color: white;
    margin: 10px;
    
}
#sec-inferior{
    background-color: rgb(255, 255, 255);
}

#sec-inferior ul {
    list-style: square;
    display: inline-block;
    margin-left: 40px;
}
#sec-inferior ul a{
    text-decoration-line: none;
    color: #638fe0;
    text-align: justify;
    vertical-align: middle;
}
#sec-inferior p{
    padding: 10px;
}

#sec-inferior hr{
    background-color: #638fe0;
    height: 10px;
    margin: 10px;
}

.sec-inf{
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 235px;
    justify-content: space-evenly;
    display: inline-block;
    align-items:center;
    vertical-align: middle;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.sec-inf h4{
    text-align: center;
}
.sec-inf p span{
    color: #638fe0;
}
footer ul{
    display: inline-block;

}

footer ul li{
    margin: 10px;
    padding: 10px;
    text-align:center;
    display: inline-block;
}
footer ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration-line: none;
    
}
footer{
    background:linear-gradient(#25537b,#3271a8 );
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}
footer p{
    font-size: smaller;
}

